.wrapper {
    margin-top: 20px;
}
.box-data-time {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 #4a4a4e29;
}
.filter {
    position: relative;
}
.label-input {
    font-size: 13px;
    font-weight: 400;
    margin-right: 4px;
}
.btn-filter {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.menu-dropdown {
    position: absolute;
    left: 20%;
    border-radius: 4px;
    display: none;
}
.menu-dropdown-list {
    padding-left: 0;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 #4a4a4e29;
    border: 1px solid #eee;
}
.menu-dropdown-item {
    cursor: pointer;
    padding: 10px 10px;
    &:hover {
        background-color: #eee;
    }
}
.dropdown-hidden {
    display: flex;
}
.description {
    .content {
        font-size: 12px;
        margin: 0;
        opacity: 0.7;
    }
}
.data-overview,
.top-product {
    margin-top: 20px;
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 #4a4a4e29;
}
.overview-title {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
}
.overview-title-dashboard {
    display: block;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 500;
}
.data-overview-list {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}
.data-overview-item {
    width: calc(25% - 12px);
    text-align: center;
    padding: 10px 20px;
    border: 1px solid #ccc;
}
.title,
content {
    display: block;
}
.title {
    font-size: 14px;
    font-weight: 500;
}
.content {
    font-size: 24px;
    font-weight: 700;
}
.product-table {
    width: 100%;
    border: 1px solid #ccc;
}
.top-product-title {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
}
.product-table {
    thead {
        background-color: #6366f1;
        color: white;
        font-size: 14px;
        th {
            position: relative;
            padding: 8px 10px;
            text-align: center;
            cursor: pointer;
            .icon-sort {
                position: absolute;
                top: 13px;
                right: 24%;
                .icon-sort.active {
                    color: #ee4d2d;
                }
            }
        }
        th:nth-child(2) {
            text-align: start;
        }
    }

    tbody {
        font-size: 14px;
        font-weight: 500;
        tr {
            background-color: #f9f9ff;
            border-bottom: 1px solid #ccc;
        }
        td {
            padding: 8px 10px;
            text-align: center;
        }
        td:nth-child(2) {
            text-align: start;
        }
    }
    img {
        width: 30px;
    }
}
