.sidebar {
    width: 200px;
    height: 100vh;
    margin-top: 60px;
    background-color: #fff;
    position: fixed;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.5rem;
    color: #ecf0f1;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    span {
        color: #000000de;
    }
}
.sidebar-menu a {
    color: #000000de;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: 14px 20px;
    transition: all 0.3s ease;
}

.sidebar-menu .icon {
    margin-right: 15px;
    font-size: 14px;
    font-weight: 400;
    transition: color 0.3s ease;
}

.sidebar-menu a span {
    font-weight: 400;
    font-size: 14px;
}
.sidebar-menu-link:hover {
    background-color: #eee;
}
.sidebar-menu-item a.active {
    background-color: #fff5f0;
    border-right: 2px solid #ee4d2d;
    .icon,
    span {
        color: #f17157;
    }
}
